/*---------- variables -----------*/
:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --maim-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --section-ptp: 94px;
    --section-pbtm: 94px;
    --background-color: #2F303A;
}
/*---------- variables -----------*/

/*----------common -----------*/
body {
    font-family:var(--main-font) ;
    color: var(--maim-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


.reset-link {
    text-decoration: none;
}
.reset-list {
    list-style: none;
}
.reset-adress {
    font-style: normal;
}
/*---------- common -----------*/

/*---------- visually-hidden -----------*/
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/*----------visually-hidden -----------*/

/*---------- logo -----------*/
.logo-up {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px ;
}

.logo-header {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
/*---------- logo -----------*/

/*---------- contacts -----------*/
.header-contact-icons-phone {
    width: 10px ;
    height: 16px ;
    align-items: center;
    margin-right: 10px;
    fill: var(--maim-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.header-contact-icons-envelope {
    width: 16px ;
    height: 12px ;
    align-items: center;
    margin-right: 10px;
    fill: var(--maim-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mail-us:hover .header-contact-icons-envelope,
.mail-us:focus .header-contact-icons-envelope,
.tell-us:hover .header-contact-icons-phone,
.tell-us:focus .header-contact-icons-phone {
    fill: var(--accent-color);
}
/*---------- contacts -----------*/

/*---------- nav -----------*/
.navigation {
    display: flex;
    align-items: center;
}

.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}
/*---------- nav -----------*/

/*---------- contacts -----------*/
.upper-contact-items {
    margin-left: auto;
}

.mail-us {
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.tell-us {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/*---------- contacts -----------*/


/*---------- nav -----------*/
.navigation-list-item {
    position: relative;
}

.navigation-list {
    display: flex;
    align-items: center;
}
.curent-page::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 250%;
    /*bottom: -31px;*/
    border-radius: 2px;
    background-color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus,
.curent-page {
    color: var(--accent-color);
}
/*---------- nav -----------*/


/*---------- contacts -----------*/
.upper-contact-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--maim-color); 
}
/*---------- contacts -----------*/

/*---------- header -----------*/
.header-main {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;   
    align-items: center;
}
/*---------- header -----------*/

.header-prtf {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

/*---------- contacts -----------*/
.upper-contact-items {
    display: flex;
    align-items: center;
}  
/*---------- contacts -----------*/

/*---------- container -----------*/
.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
/*---------- container -----------*/

/*---------- HERO -----------*/
.hero .container {
    display: block;
}

.hero {
    background-color:var(--background-color);
    padding-top: 200px;
    padding-bottom:200px;
    background-color: #2f303a66;;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
    url("../images/Hero_img/BG_resize.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-title {
    margin-bottom: 30px;
    margin-right: 350px;
    margin-left: 240px;
    width: 700px;
    text-align: center;
   
   }

/*---------- HERO -----------*/

/*---------- modal-button -----------*/
.modal-button:focus {
   outline: var(--accent-color);
}   

.modal-button {
    min-width: 200px;
    padding: 10px 32px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-transform:none;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

/*---------- modal-button -----------*/

/*----------  contacts -----------*/
.lower-contact-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #ffffff99;
}

.mail-us:hover,
.mail-us:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.tell-us:hover,
.tell-us:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.map-link {
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
/*---------- contacts -----------*/

/*---------- HERO -----------*/
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*---------- HERO -----------*/


/*---------- worth -----------*/
.worth {
    padding-top: 94px;
    padding-bottom: 47px;
}

.worth-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.worth-element {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);
}

.worth-description-representation {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: start;
}

.worth-items {
    margin-bottom: 10px ;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--secondary-color);
    text-align: start;
}

.worth-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: start;
}

.icons-container {
    display: flex;
    width: 270px ;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    justify-content: center;
    align-items: center;
}

.worth-icons {
    width: 70px ;
    height: 70px; 
}
/*---------- worth -----------*/

/*---------- wdwd -----------*/
.wdwd {
    padding-top: 47px;
    padding-bottom: 94px;
}

.wdwd .container {
    display: block;
}   

.wdwd-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight:700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.wdwd-item-container {
    position: relative;
}

.wdwd-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.wdwd-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
}

.wdwd-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: 15px;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}
/*---------- wdwd -----------*/

/*---------- team -----------*/
.team .container {
    display: block;
}

.team {
    background-color: #F5F4FA ;
    padding-top: 94px;
    padding-bottom: var(--section-pbtm);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.team-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);
} 

.team-list-item-representation {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.unit-name {
    margin-bottom: 10px ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.unit-ps {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
/*---------- team -----------*/

/*---------- social-link -----------*/
.social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}


.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-link:hover .team-social-icons,
.social-link:focus .team-social-icons  {
   background-color: var(--accent-color);
   fill: rgb(255, 255, 255);
}

.social-link:hover,
.social-link:focus  {
   background-color: var(--accent-color);
}


.team-social-icons {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/*---------- social-link -----------*/

/*---------- product prtf ------внести-----*/ 
.product-name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--secondary-color);
}

.product-type {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
/*---------- product prtf -----------*/


/*---------- clients -----------*/
.clients {
    padding-top: var(--section-ptp);
    padding-bottom: var(--section-pbtm);
}

.clients .container {
  display: block;
}
.container-icon {
    display: flex;
    width: 170px;
    height: 90px;
}

.clients-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap ;
    margin-left: -30px;
    margin-top: -30px;
}

.clients-item {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 6 - 30px);
    border-radius: 4px;
    border: 1px solid #afb1b8;
    width: 170px;
    height: 90px;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
}
    
.clients-icon {
   display: flex;
   fill: #afb1b8;
   justify-content: center;
   align-items: center;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
   fill: var(--accent-color);
}

.clients-item:hover,
.clients-item:focus {
    border-color: var(--accent-color);
}
/*---------- clients -----------*/
    
/*---------- footter -----------*/
.footter .container {
    display: flex; 
}
/*---------- footter -----------*/

/*---------- logo -----------*/
.ft-logo-contacts {
    margin-right: 70px;
}
/*---------- logo -----------*/


/*---------- social-list -----------*/

.social-list-item-ft:not(:last-child) {
    margin-right: 10px;
}

.ft-title-social-links {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*---------- social-list -----------*/

/*---------- footter -----------*/
.footter {
    background-color: var(--background-color);
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
/*---------- footter -----------*/

/*---------- logo -----------*/
.logo-low {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: block;
    align-content: start;
    margin-bottom: 20px;
}

.logo-footer {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
/*----------logo -----------*/

/*.logotype {
    margin-bottom: 20px;
}*/

/*----------contacts -----------*/
.bottom-addres-item:not(:last-child) {
    margin-bottom: 9px;
}
/*----------contacts -----------*/

/*---------- social-list -----------*/
.social-container-ft {
    display: inline-block;
    margin-top: 12px;
    margin-right: 93px;
}

.social-list-ft {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

}
 .social-link-ft {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #ffffff1a;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-ft:hover .team-social-icons,
.social-link-ft:focus .team-social-icons  {
   background-color: var(--accent-color);
   fill: rgb(255, 255, 255);
}

.social-link-ft:hover,
.social-link-ft:focus  {
   background-color: var(--accent-color);
}


.social-icons-ft {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    align-items: center;
}
/*---------- social-list -----------*/


/*---------- ft-form -----------*/
.ft-form-title {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.ft-form-container {
    display: inline-block;
    margin-top: 12px;

}

.ft-form-wrapper {
    display: flex;
}

.ft-form-input {

    width: 358px;
    margin-right: 12px;
    padding: 15px 16px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: rgb(255, 255, 255);
    font-weight: 400;
    align-items: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.ft-form-input::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.ft-form-btn {
    position: relative;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 62px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-transform:none;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

.ft-form-discription-btn {
    display: block;
}

.ft-btn-icon {
    position: absolute;
    left: 147px ;
    transform: translateY(15%);
    display: block;
    width: 24px ;
    height: 24px ;
    fill: white;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*---------- ft-form -----------*/


/*---------- product -----------*/
.product .container {
   display: flex;
   display: block;
}
/*---------- product -----------*/   

/*---------- filter-prtf -----------*/
.filter-list {
    justify-content: center;
    margin-bottom: 50px;
    display: flex;
}

.filter-list-item:not(:last-child) {
   margin-right: 8px;
}

.prtf-button:focus {
 outline: var(--accent-color);
}

.prtf-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    border-color: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    border: none;
    transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  

.prtf-button:hover,
.prtf-button:focus {
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}   
/*---------- filter-prtf -----------*/

/*---------- product -----------*/
.product{
    padding-top: 94px;
    padding-bottom: 94px;
}
.products {
    display: flex;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px; 
}

.product-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 9 - 30px);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.product-image-represantation {
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE; 
    border-top: none;
}

.overlay-base {
    position: relative;
    overflow: hidden;
    
}

.overlay {
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    /*overflow: scroll;*/
    transform: translateY(100%);
    padding: 63px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-base:focus .overlay,
.overlay-base:hover .overlay {
    transform: translateY(0%);
}


.product-type {
    color: var(--maim-color);
}

.product-list-item:hover,        
.product-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*link  shadow focus?*/
/*---------- product -----------*/

/*---------- backdrop -----------*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
/*---------- backdrop -----------*/
  
/*---------- modal -----------*/
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%);
}
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    border-radius: 4px;
  
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    fill: var(--accent-color);
}
/*---------- modal -----------*/


/*.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}*/
/*---------- modal-form -----------*/
.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-wrapper {
   position: relative;
   display: block;
   cursor: pointer;
}


.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    border: 1px solid rgba(100, 76, 76, 0.2);
    border-radius: 4px;
    transition: border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
    
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}


.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px ;
    height: 18px ;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-name {
    width: 12px;
    height: 12px;
}

.icon-phone {
    width: 13px;
    height: 13px;
}

.icon-email {
    width: 15px;
    height: 12px ;
}

.modal-title {
    display: block;
    font-size: 20px;
    line-height: 1.15;
    color: #212121;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal-line-name {
    display: block;
    margin-top: 10px; 
    margin-bottom: 4px ;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

 .modal-line-name-first {
    margin-top: 0px; 
 }

.modal-form-message {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 16px;
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.modal-form-message:focus{
    border-color: var(--accent-color);
    outline: none;
}

.modal-form-check-description {
    display:flex;
    justify-content: center;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal-form-check-description::before {
    display: block;
    content: "" ;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 4px;
    border-radius: 2px;
}

.modal-form-term:checked + .modal-form-check-description::before {
    
    background-image: url("../images/modal_form_img/Rectangle 11@2x.svg");
    background-position: center;
    background-color: var(--accent-color);
    border: none;
}

/*.modal-form-term:focus + .modal-form-check-description::before {
    box-shadow: 0 0 0 2px blue;/

}*/

.modal-wrapper-agreement {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.agreement {
    display: inline-block;
    position: relative;
    color: var(--accent-color);
}

.agreement::after {
    position: absolute;
    content: "";
    background-color: var(--accent-color);
    width: 127px;
    height: 1px;
    top: 80%;
    left: 0%;

}

.modal-form-btn {
    min-width: 200px;
    padding: 10px 32px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-transform:none;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}
/*---------- modal-form -----------*/