:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --maim-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --section-ptp: 94px;
    --section-pbtm: 94px;
    --background-color: #2F303A;
}